/*              ALL             */
a,
a:link,
a:visited {
    text-decoration: none;
    color: black;
}

#all {
    width: 100%;
}

/*              COMMON              */

/*Header*/
#header {
    display: grid;
    overflow: hidden;

    width: 950px;
    height: 150px;
    margin: -5px 0 5px 0;
    border-radius: 15px;

    background-color: aqua;

    justify-self: center;
}

#header #headerLogo {
    margin: auto;
    height: 90%;

    justify-self: center;
}

#header #headerLogo img {
    height: 100%;
}

#header #headerInfo {
    display: flex;

    width: 100%;
    height: 50px;

    background-color: red;

    align-self: flex-end;
}

#header #headerInfo #headerInfoClock {
    margin: auto 5px;
    width: 90px;

    background-color: beige;
}

/*Middle*/
#middle {
    display: flex;
    overflow: hidden;
    width: 950px;
    border-radius: 15px;

    background-color: bisque;

    justify-self: center;
}

/*Left Index*/
#leftIndex {
    display: flex;
    overflow: hidden;
    width: 200px;

    background-color: burlywood;
}

#leftIndex div {
    display: table;
    overflow: hidden;
    width: 190px;
    margin: 10px auto;

    background-color: aquamarine;

    align-content: center;
}

#leftIndex div div {
    display: grid;
    overflow: hidden;
    width: 100%;
    margin: auto;

    background-color: aqua;

}

#leftIndex div div div {
    display: flex;
    overflow: hidden;
    height: 45px;
    margin-left: 5px;

    background-color: beige;

}

#leftIndex div div div h1 {
    margin: 5px 0 0 5px;
    font-size: 30px;
    text-transform: uppercase;

}

#leftIndex div div a {
    margin-left: 10px;
    text-transform: capitalize;
}

#content {
    display: grid;
    overflow: hidden;
    margin: 0 4px;
    width: 750px;
    background-color: aqua;
}

/*General*/
/*middle index*/
.clickOptions {
    display: flex;
    width: 100%;
    margin: 10px 0 0 0;

    background-color: aquamarine;

    text-transform: capitalize;

    justify-content: center;
}

#placeName {
    display: flex;
    margin-left: 5px;
    width: 100%;
    text-transform: capitalize;
}

/*asset block*/
.assetGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: auto;
}

.assetBlock {
    display: grid !important;
    grid-template-columns: 1fr !important;
    overflow: hidden;
    margin: auto;
    margin-bottom: 5px;
    width: calc(750px/4.2);

    background-color: blue;

    transition: 0.2s;
}

.assetImg {
    width: 100%;

    transition: 0.2s;
}

.assetImg:hover {
    border-radius: 20px;
    filter: brightness(20%);

    transition: 0.2s;
}

.assetImg:hover+.assetImgAlt {
    display: flex !important;
    transition: 0.2s;
}

.assetName {
    width: 100%;
    margin: auto;
    text-align: center;
}

.assetName h2 {
    margin: 10px auto auto 4px;
    text-transform: capitalize;
}

/*assetInfo*/
.assetImgAlt {
    display: none !important;
    overflow: hidden;
    position: absolute;
    margin-top: 7px;
    width: calc(700px/4.3);
    height: calc(700px/4.3);

    justify-self: center;
    justify-content: center;
    align-items: center;

    color: white;

    user-select: none;

    transition: 0.2s;

    text-wrap: auto;


    pointer-events: none;
}

.assetPrice {
    margin: auto auto 5px auto;
    text-transform: capitalize;
    user-select: none;
}

.assetPrice img {
    width: 10px;
}

.foundAt {
    display: flex;
    width: 80%;
    margin: auto auto 5px auto;

    justify-content: center;

    background-color: #bbb;
    border-radius: 10px;

    text-transform: capitalize;
    user-select: none;
}

.foundAt:has(a):hover {
    background-color: antiquewhite !important;
}

.foundAt img {
    width: 10px;
}

.usedOn {
    display: flex;
    width: 80%;
    margin: auto auto 5px auto;

    justify-content: center;

    background-color: #bbb;
    border-radius: 10px;

    text-transform: capitalize;
    user-select: none;
}

.usedOn:has(a):hover {
    background-color: antiquewhite !important;
}

.usedOn img {
    width: 10px;
}

/*modal image to resize*/
/* Modal Styles */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1000;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.8);
    /* Black w/ opacity */
    transition: 0.2s;
}

.modal-content {
    margin: auto;
    display: block;
    height: 80%;
    /* Width of the modal image */
    max-width: 700px;
    /* Maximum width */
    transition: 0.2s;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s;
}

/*              HOME                */

/*              TRAITS              */

#content div h2 {
    margin: 10px auto 5px 4px;
}